<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body>
<h3 style="text-align: center; margin-bottom: 10px; text-decoration: underline;">Bienvenue sur Djetay'Infos</h3>

<h5 th:text="${'Courses du : ' + date}" style="text-align: center; margin-bottom: 20px; text-decoration: underline;"></h5>





            <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
		
<!-- 		FIRST -->
			<div th:if="${oneexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${onetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${onepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${oneppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${onepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${oneppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${onepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${oneppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${onetxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${onetxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${onetxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${onetxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${onechronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
            
<!--             //Collapse chronos BEGIN-->

        <div th:if="${onechronos eq false}">
        		<div th:replace="_components :: chronos-buttonone">...</div>
        		<div th:replace="_components :: chronos-dropdownsone(${onehorses})">...</div>
        </div>
<!--          <div th:if="${onechronos eq true}"> -->
<!--         		<div th:replace="_components :: chronos-modif">...</div> -->
<!--         </div> -->
        <div th:if="${onechronos eq true}">
                <div th:replace="_components :: chronos-modifone">...</div>
		        <div th:replace="_components :: chronos-dropdownsone(${onehorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
                        
				</div>
					</div>
					
<!-- 				SECOND	 -->
								<div th:if="${twoexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${twotitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                  <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${twopvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${twoppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${twopveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${twoppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${twopvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${twoppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${twotxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${twotxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${twotxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${twotxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${twochronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
            <!--             //Collapse chronos BEGIN-->

        <div th:if="${twochronos eq false}">
        		<div th:replace="_components :: chronos-buttontwo">...</div>
        	    <div th:replace="_components :: chronos-dropdownstwo(${twohorses})">...</div>
        		
        </div>
        <div th:if="${twochronos eq true}">
                <div th:replace="_components :: chronos-modiftwo">...</div>
		        <div th:replace="_components :: chronos-dropdownstwo(${twohorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
            
				</div>
					</div>
					
<!-- 					THIRD -->
								<div th:if="${threeexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${threetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                    <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${threepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${threeppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${threepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${threeppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${threepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${threeppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${threetxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${threetxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${threetxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${threetxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${threechronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                     <!--             //Collapse chronos BEGIN-->

         <div th:if="${threechronos eq false}">
        		<div th:replace="_components :: chronos-buttonthree">...</div>
        	    <div th:replace="_components :: chronos-dropdownsthree(${threehorses})">...</div>
        		
        </div>
        <div th:if="${threechronos eq true}">
                <div th:replace="_components :: chronos-modifthree">...</div>
		        <div th:replace="_components :: chronos-dropdownsthree(${threehorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
            
				</div>
					</div>
					
<!-- 					FOURTH -->

			<div th:if="${fourexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${fourtitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${fourpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${fourppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${fourpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${fourppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${fourpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${fourppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${fourtxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${fourtxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${fourtxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${fourtxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${fourchronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                     <!--             //Collapse chronos BEGIN-->

        <div th:if="${fourchronos eq false}">
        		<div th:replace="_components :: chronos-buttonfour">...</div>
        	    <div th:replace="_components :: chronos-dropdownsfour(${fourhorses})">...</div>
        		
        </div>
        <div th:if="${fourchronos eq true}">
                <div th:replace="_components :: chronos-modiffour">...</div>
		        <div th:replace="_components :: chronos-dropdownsfour(${fourhorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
		
			</div>
			
			
                              <!-- COL 6 to 12 -->
			
					<div class="col-md-6">
		
<!-- 		FIFTH -->
			<div th:if="${fiveexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${fivetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                  <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${fivepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${fiveppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${fivepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${fiveppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${fivepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${fiveppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${fivetxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${fivetxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${fivetxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${fivetxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${fivechronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                     <!--             //Collapse chronos BEGIN-->

       <div th:if="${fivechronos eq false}">
        		<div th:replace="_components :: chronos-buttonfive">...</div>
        	    <div th:replace="_components :: chronos-dropdownsfive(${fivehorses})">...</div>
        		
        </div>
        <div th:if="${fivechronos eq true}">
                <div th:replace="_components :: chronos-modiffive">...</div>
		        <div th:replace="_components :: chronos-dropdownsfive(${fivehorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
<!-- 				SIXTH	 -->
								<div th:if="${sixexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${sixtitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${sixpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${sixppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${sixpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${sixppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${sixpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${sixppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${sixtxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${sixtxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${sixtxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${sixtxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${sixchronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>                
            </table>
            
                                    <!--             //Collapse chronos BEGIN-->

        <div th:if="${sixchronos eq false}">
        		<div th:replace="_components :: chronos-buttonsix">...</div>
        	    <div th:replace="_components :: chronos-dropdownssix(${sixhorses})">...</div>
        		
        </div>
        <div th:if="${sixchronos eq true}">
                <div th:replace="_components :: chronos-modifsix">...</div>
		        <div th:replace="_components :: chronos-dropdownssix(${sixhorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
<!-- 					SEVENTH -->
								<div th:if="${sevenexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${seventitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${sevenpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${sevenppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${sevenpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${sevenppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${sevenpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${sevenppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${seventxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${seventxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${seventxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${seventxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${sevenchronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                            <!--             //Collapse chronos BEGIN-->

        <div th:if="${sevenchronos eq false}">
        		<div th:replace="_components :: chronos-buttonseven">...</div>
        	    <div th:replace="_components :: chronos-dropdownsseven(${sevenhorses})">...</div>
        		
        </div>
        <div th:if="${sevenchronos eq true}">
                <div th:replace="_components :: chronos-modifseven">...</div>
		        <div th:replace="_components :: chronos-dropdownsseven(${sevenhorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
<!-- 					EIGHTH -->

			<div th:if="${eightexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${eighttitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                    <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${eightpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${eightppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${eightpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${eightppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${eightpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${eightppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${eighttxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${eighttxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${eighttxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${eighttxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${eightchronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                            <!--             //Collapse chronos BEGIN-->

        <div th:if="${eightchronos eq false}">
        		<div th:replace="_components :: chronos-buttoneight">...</div>
        	    <div th:replace="_components :: chronos-dropdownseight(${eighthorses})">...</div>
        		
        </div>
        <div th:if="${eightchronos eq true}">
                <div th:replace="_components :: chronos-modifeight">...</div>
		        <div th:replace="_components :: chronos-dropdownseight(${eighthorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
					
					<!-- 					NINTH -->

			<div th:if="${nineexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${ninetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${ninepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${nineppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${ninepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${nineppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${ninepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${nineppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${ninetxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${ninetxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${ninetxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${ninetxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${ninechronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
            
                            <!--             //Collapse chronos BEGIN-->

        <div th:if="${ninechronos eq false}">
        		<div th:replace="_components :: chronos-buttonnine">...</div>
        	    <div th:replace="_components :: chronos-dropdownsnine(${ninehorses})">...</div>
        		
        </div>
        <div th:if="${ninechronos eq true}">
                <div th:replace="_components :: chronos-modifnine">...</div>
		        <div th:replace="_components :: chronos-dropdownsnine(${ninehorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
					<!-- 					TENTH -->

			<div th:if="${tenexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${tentitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                    <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${tenpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${tenppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${tenpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${tenppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${tenpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${tenppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${tentxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${tentxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${tentxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${tentxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${tenchronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                            <!--             //Collapse chronos BEGIN-->

        <div th:if="${tenchronos eq false}">
        		<div th:replace="_components :: chronos-buttonten">...</div>
        	    <div th:replace="_components :: chronos-dropdownsten(${tenhorses})">...</div>
        		
        </div>
        <div th:if="${tenchronos eq true}">
                <div th:replace="_components :: chronos-modiften">...</div>
		        <div th:replace="_components :: chronos-dropdownsten(${tenhorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
					<!-- 					ELEVENTH -->

			<div th:if="${elevenexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${eleventitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${elevenpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${elevenppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${elevenpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${elevenppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${elevenpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${elevenppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${eleventxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${eleventxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${eleventxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${eleventxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${elevenchronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                            <!--             //Collapse chronos BEGIN-->

       <div th:if="${elevenchronos eq false}">
        		<div th:replace="_components :: chronos-buttoneleven">...</div>
        	    <div th:replace="_components :: chronos-dropdownseleven(${elevenhorses})">...</div>
        		
        </div>
        <div th:if="${elevenchronos eq true}">
                <div th:replace="_components :: chronos-modifeleven">...</div>
		        <div th:replace="_components :: chronos-dropdownseleven(${elevenhorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
					
					<!-- 					TWELVTH -->

			<div th:if="${twelveexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${twelvetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                    <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${twelvepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">P-C-H(%)</th>
                    <td th:each="c, i : ${twelveppch}" th:text="${c.numero}"></td>
                    </tr>
                    
                      <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${twelvepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                     <tr>
                    <th scope="">P-E-H(%)</th>
                    <td th:each="e, i : ${twelveppeh}" th:text="${e.numero}"></td>
                   </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${twelvepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-J-H(%)</th>
                    <td th:each="j, i : ${twelveppjh}" th:text="${j.numero}"></td>
                    </tr>      
                    
                     <tr>
                    <th scope="">V-CO(%)</th>
                    <td th:each="j, i : ${twelvetxv}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO(%)</th>
                    <td th:each="j, i : ${twelvetxp}" th:text="${j.numero}"></td>
                    </tr>      
                    
                      <tr>
                    <th scope="">V-CO-H(%)</th>
                    <td th:each="j, i : ${twelvetxvh}" th:text="${j.numero}"></td>
                    </tr>
                    
                     <tr>
                    <th scope="">P-CO-H(%)</th>
                    <td th:each="j, i : ${twelvetxph}" th:text="${j.numero}"></td>
                    </tr>      
                  
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${twelvechronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                   
                </thead>
            </table>
            
                            <!--             //Collapse chronos BEGIN-->

      <div th:if="${twelvechronos eq false}">
        		<div th:replace="_components :: chronos-buttontwelve">...</div>
        	    <div th:replace="_components :: chronos-dropdownstwelve(${twelvehorses})">...</div>
        		
        </div>
        <div th:if="${twelvechronos eq true}">
                <div th:replace="_components :: chronos-modiftwelve">...</div>
		        <div th:replace="_components :: chronos-dropdownstwelve(${twelvehorses})">...</div>
		</div>
		

            <!--//Collapse chronos END -->
            
				</div>
					</div>
							
			</div>
			

			
		</div>
	</div>



 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>