<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body>
<h3 style="text-align: center; margin-bottom: 10px; text-decoration: underline;">Bienvenue sur Djetay'Infos</h3>

<h5 th:text="${'Courses du : ' + date}" style="text-align: center; margin-bottom: 20px; text-decoration: underline;"></h5>





            <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
		
<!-- 		FIRST -->
			<div th:if="${oneexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${onetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${onepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${onepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${onepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                    <tr>
                    <th scope="">Chronos</th>
                    <td th:each="c, i : ${onechronoslist}" th:text="${c.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
            
<!--             //Collapse chronos BEGIN-->
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Renseigner les chronos
  </a>
</p>
<div class="collapse" id="collapseExample">

 <form th:action="@{set-chronos?jour={jour}&reunion={reunion}(jour=${jour}, reunion=${reunion})}" method="POST">
  <div th:each="num : ${numeros}" class="form-group col-md-4">
      <label for="" th:text="${'Chrono ' + num}"></label>
      <select id="" class="form-control" name="${num}">
        <option>Choisir...</option>
           <option th:each="horse : ${horses}" th:value="${horse.id}"
		      th:text="${horse.numero}">
		   </option>      
     </select>
    </div>
<!--     <input id="" name="jour" type="hidden" th:value="${jour}"> -->
<!--     <input id="" name="reunion" type="hidden" th:value="${reunion}"> -->
    
      <button type="submit" class="btn btn-primary">Envoyer</button>
 </form>

</div>
    
<!--                             <div class="form-group"> -->
<!-- 								<label class="text-dark" style="font-weight: bold;">Discipline:</label><br>  -->
<!-- 								<select class="form-control form-control-user" name="discipline"> -->
<!-- 									<option value="">--Choisir--</option> -->

<!-- 									<option th:each="d : ${disciplines}" th:value="${d}" -->
<!-- 										th:text="${d.name}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
 

 
            <!--//Collapse chronos END -->
            
            
<!--                      <a th:href="@{/enter-chronos}" style="margin-top: 1px;" class="btn btn-primary btn-small" type="button" th:if="${chronos eq false}"> Renseigner les chronos</a> -->
            
				</div>
					</div>
					
<!-- 				SECOND	 -->
								<div th:if="${twoexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${twotitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${twopvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${twopvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${twopveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
<!-- 					THIRD -->
								<div th:if="${threeexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${threetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${threepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${threepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${threepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
<!-- 					FOURTH -->

			<div th:if="${fourexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${fourtitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${fourpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${fourpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${fourpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
		
			</div>
			
			
                              <!-- COL 6 to 12 -->
			
					<div class="col-md-6">
		
<!-- 		FIFTH -->
			<div th:if="${fiveexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${fivetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${fivepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${fivepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${fivepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
<!-- 				SIXTH	 -->
								<div th:if="${sixexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${sixtitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${sixpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${sixpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${sixpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>                
            </table>
            
                    
            
				</div>
					</div>
					
<!-- 					SEVENTH -->
								<div th:if="${sevenexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${seventitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>       
    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${sevenpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${sevenpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${sevenpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
<!-- 					EIGHTH -->

			<div th:if="${eightexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${eighttitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${eightpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${eightpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${eightpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
					
					<!-- 					NINTH -->

			<div th:if="${nineexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${ninetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${ninepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${ninepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${ninepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
					<!-- 					TENTH -->

			<div th:if="${tenexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${tentitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${tenpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${tenpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${tenpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
					<!-- 					ELEVENTH -->

			<div th:if="${elevenexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${eleventitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${elevenpvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${elevenpvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${elevenpveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
					
					<!-- 					TWELVTH -->

			<div th:if="${twelveexists}" class="row" style="margin-bottom: 10px;">
			    <p th:text="${twelvetitle}" style="font-weight: bold;"></p>
				<div class="col-md-11">
<!-- 				              <table class="" th:if="${status}"> -->
                          <table class="table-sm table-striped table-responsive">
                          
                <thead>   
                    
                   <tr>
                    <th scope="">V-C-H(%)</th>
                    <td th:each="c, i : ${twelvepvch}" th:text="${c.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-J-H(%)</th>
                    <td th:each="j, i : ${twelvepvjh}" th:text="${j.numero}"></td>
                    </tr>
                    
                    <tr>
                    <th scope="">V-E-H(%)</th>
                    <td th:each="e, i : ${twelvepveh}" th:text="${e.numero}"></td>
                   </tr>
                   
                </thead>
            </table>
				</div>
					</div>
							
			</div>
			

			
		</div>
	</div>



 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>